@use "../abstract/" as *;
@use "../base/" as *;

.header {
  background: $clr-light;
  .branding {
    @include flexBetween;

    h4.details {
      display: none;
      i {
        color: $clr-primary;
        font-size: 2.5rem;
      }
    }
    .toggle__menu {
      background: $clr-primary;
      padding: 1rem;
      border-radius: 1rem;
      span {
        width: 2.5rem;
        height: 0.3rem;
        background-color: $clr-light;
        display: block;
        border-radius: 5rem;
        &:nth-child(2) {
          margin: 0.5rem 0;
        }
      }
    }
    &__actions {
      .header__extra {
        display: flex;
      }
    }
  }

  &__details {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h4 {
      display: flex;
      gap: 2rem;
      justify-content: center;
      font-size: 1.3rem;
      i {
        color: $clr-primary;
        font-size: 2.5rem;
      }
    }
  }
  &__actions {
    display: flex;
    margin: 2rem 0;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr;
    ul.header__nav {
      background: #e3e2e2;
      position: absolute;
      top: 10rem;
      left: 0rem;
      width: 100%;
      max-height:0rem;
      padding:0rem;
      display: flex;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
      transition: .5s ease;
      &.open{
        max-height:50rem;
      padding:5rem;
      transition: .5s ease;
      }
      li{
        padding:1.5rem;
        transition: .5s ease;
        position:relative;
        &::after{
            content:'';
            width: 4rem;
            height: .2rem;
            background-color:transparent;
            display: block;
            position: absolute;
            right: 25rem;
            top: 50%;
            transition: .5s ease;

        }
        &:hover{
            transform: translateX(-5rem);
             transition: .5s ease;
             &::after{
                content:'';
                background-color: $clr-primary;
                right: 10rem;
                transition: .5s ease;
             }
        }
      }
      li {
        a {
          color: $clr-dark;
        }
      }
    }
    ul.header__social {
      display: flex;
      gap: 2rem;
      font-size: 2rem;
      li {
        a {
          color: $clr-dark;
        }
      }
    }
    ul.header__extra {
      display: flex;
      gap: 2rem;
      font-size: 2rem;
    }
  }
  @include mediaQuery($break-lg) {
    .branding {
      h4.details {
        display: flex;
        gap: 2rem;
      }
      .toggle__menu {
        display: none;
      }
      .header__social {
        display: flex;
      }
      .header__nav {
        display: flex;
      }
    }
    &__details {
      display: none;
    }
    &__actions {
      display: grid;
      grid-template-columns: 3fr 0.8fr 0.8fr;
        justify-items: flex-end;
      margin-top: 5rem;
      align-items: center;
      ul.header__nav {
        position: static;
        max-height: fit-content;
        display: flex;
        flex-direction: row;
        background: $clr-light;
        width: unset;
        justify-items: flex-end;
        li{
            &:hover{
                transform: translate(0rem);
                a{
                    color: $clr-primary;

                }
                &::after{
                    content: '';
                    display: none;
                }
            }
        }
      }
    }
  }
}
